* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

@media (max-width: 978px) {
    .sections {
        box-shadow: none !important; 
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    body {
        padding: 0;
    }
}

.assets-table-wrapper {
    margin: 0 auto;
    overflow-y: auto;
    height: 450px;
}

.assets-table>tbody>tr>td,
.assets-table>tbody>tr>th,
.assets-table>thead>tr>td,
.assets-table>thead>tr>th {
    border: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0e6efdb7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(14,110,253);
}

.hide {
    display: none;
}

.time-links {
    color: #6C757D;
}

.time-links:hover {
    color: rgb(14,110,253);
    cursor: pointer;
}